.wrapper
    width 100%
    min-height 100%
    position relative
    padding-bottom 100px
    overflow hidden
    background #cfe1f0
    background-image linear-gradient(0deg, #ffffff 0%, #cfe1f0 100%)

header
    width 100%
    height 145px
    background #011f53
    position relative
    z-index 101
    .center
        position relative
    .login
        position absolute
        bottom 0
        width 100%
        height 45px
        background $azul
        text-align right
        .center
            height 100%
        form
            width 300px
            height 25px
            margin-top 10px
            float right
            position relative
            &:before
                content ""
                position absolute
                display block
                width 12px
                height 100%
                top 0
                left -18px
                background $img('lock.png') no-repeat center
            input
                width 43%
                background #fff
                border 0
                outline 0
                border-radius 4px
                height 100%
                calibri 14
                padding 0 5px
                padding-top 3px
                margin-left 1%
                float left
                &[type='submit']
                    width 10%
                    display block
                    color $azul
            +mobile()
                width 150px
                input
                    width 39%
                    margin-left 1.6%
                    &[type='submit']
                        width 17%
    nav#desktop
        position absolute
        background #fff
        background-image linear-gradient(0deg, #ffffff 0%, #cfe1f0 100%)
        padding 15px
        left 0
        top 0
        width 200px
        z-index 102
        +below($tablet)
            display none
        h1
            margin 0
            padding 0
        .logo
            display block
            width 80%
            margin 15px auto 30px
            img
                width 100%
                max-width 114px
                margin 0 auto
                height auto
                display block
        .link
            display block
            text-align center
            background #cfe1f0
            background-image radial-gradient(#ffffff 0%, #b7cce7 100%)
            color #6d6e71
            calibri 14 bold
            text-transform uppercase
            padding 6px
            margin-bottom 2px
            text-decoration none
            transition color .3s
            &:hover
            &.active
                color $azul
            &.externo
                margin-top 15px
    #handle-mobile
        +above($tablet)
            display none !important
        h1
            margin 0
            padding 0
            float left
            top 0
            left 0
            position absolute
            height 145px
            z-index 9999
            padding 15px
            background #cfe1f0
            background-image linear-gradient(0deg, #ffffff 0%, #cfe1f0 100%)
            a
                display block
                height 100%
                img
                    height 100%
                    width auto
        #mobile-toggle
            display block
            background-color transparent
            border 0
            float right
            position relative
            height 80px
            width 30px
            outline 0
            padding 0
            top 15px
            margin-left 10%
            .lines
                display block
                width 100%
                height 3px
                background #fff
                position relative
                transition .3s ease
                border-radius 2px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 3px
                    border-radius 2px
                    background #fff
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)
nav#mobile
    +above($tablet)
        display none !important
    display none
    width 100%
    background #011f53
    padding 25px 0
    text-align center
    z-index 9999
    a
        display block
        color #fff
        calibri 15 bold
        text-transform uppercase
        text-decoration none
        padding 5px 0
        &.active
            color lighten($azul, 20)
        &.externo
            margin-top 15px

.home nav#mobile
    position absolute

.main
    padding-left 250px
    padding-top 45px
    calibri 16
    color #6d6e71
    min-height 300px
    +below($tablet)
        padding-left 0
        padding-top 30px
    h1
        calibri 24 bold
        color $azul
        text-transform uppercase
        margin-top 1.5em
        &:first-child
            margin-top 0
    h2
        calibri 16 bold
        color $azul
        text-transform uppercase
    a
        color $azul
        font-weight bold
    ul
        padding 0
        margin 15px 0
        li
            margin .7em 0
            list-style-type none
            position relative
            padding-left 10px
            &:before
                content ""
                color $azul
                position absolute
                top 6px
                left 0
                width 4px
                height 4px
                background $azul
                border-radius 100%
    img
        display block
        margin 2em 0
        max-width 100%
        height auto

footer
    position absolute
    width 100%
    bottom 0
    left 0
    background #fff
    z-index 101
    text-align center
    calibri 15
    color #6d6e71
    padding 20px 0
    +below($tablet)
        calibri 13
    p
        margin 0
        padding 0
    span
        text-transform uppercase
        font-weight bold
    a
        text-decoration none
        color inherit
        transition color .3s
        &:hover
            color $azul

.banners
    position absolute
    width 100%
    height 100%
    top 140px
    left 0
    .banner
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        background-repeat no-repeat
        .frase
            position absolute
            max-width 30%
            right 0
            bottom 280px
            text-align right
            span
                text-align left
                display inline-block
                background #000
                color #fff
                calibri 44
                padding 30px
            +below($tablet)
                width 100%
                max-width 100%
                span
                    calibri 32
                    padding 20px
                    background rgba(#000, .8)
            +mobile()
                span
                    calibri 24