*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    &.home
        min-height 600px
        +tablet()
            min-height 500px
        +mobile()
            min-height 450px

::selection
    background $azul
    color #fff

::-moz-selection
    background $azul
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

body
    &:after
        content "" // preload images
        display none