// Responsive
desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul = #1b75bb;

// Fonts
@font-face
    font-family 'CalibriFallback'
    src url('fonts/CalibriFallback.eot')
    src url('fonts/CalibriFallback.eot?#iefix') format('embedded-opentype'),
         url('fonts/CalibriFallback.woff') format('woff'),
         url('fonts/CalibriFallback.ttf') format('truetype')
    font-weight normal
    font-style normal
@font-face
    font-family 'CalibriFallback'
    src url('fonts/CalibriFallbackBold.eot')
    src url('fonts/CalibriFallbackBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/CalibriFallbackBold.woff') format('woff'),
         url('fonts/CalibriFallbackBold.ttf') format('truetype')
    font-weight bold
    font-style normal

calibri($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family Calibri, CalibriFallback, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-weight $weight
    font-style $style